<div class="offcanvas offcanvas-end" tabindex="-1" id="general1">
  <span class="oculto" id="padreId"></span>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="tituloGeneral1"></h5>
    <button name="btnCancela" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
  </div>
  <div id="subtituloGeneral1"></div>
  <div class="offcanvas-body" id="contenidoGeneral1"></div>
</div>
