<div class="modal fade" id="general1">
  <span class="oculto" id="padreId"></span>
  <div class="modal-dialog modal-dialog-centered" role="document" id="tamanoGeneral1">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
          <h4 class="modal-title"  id="tituloGeneral1"></h4>
          <button name="btnCancela" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="subtituloGeneral1">
      
      </div>
      <div class="modal-body" id="contenidoGeneral1">

      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->