<div class="offcanvas offcanvas-end" tabindex="-1" id="general3">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="tituloGeneral3"></h5>
    <button name="btnCancela" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
  </div>
  <div id="subtituloGeneral3"></div>
  <div class="offcanvas-body" id="contenidoGeneral3"></div>
</div>
