<!-- Modal -->
<div class="modal fade" id="general2">
  <div class="modal-dialog modal-dialog-centered" role="document" id="tamanoGeneral2">
    <div class="modal-content">
      <div class="modal-header pt-1 pb-1">
          <h4 class="modal-title"  id="tituloGeneral2"></h4>
          <button name="btnCancela" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="subtituloGeneral2">
      
      </div>
      <div class="modal-body" id="contenidoGeneral2">

      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->