<div id="jsPropio"></div>

<!-- JQuery min js -->
<script src="/librerias/jquery/jquery.min.js"></script>
<script src="/librerias/jquery/jquery-ui.min.js"></script>

<!-- Bootstrap Bundle js -->
<script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<script src='/assets/plugins/fullcalendar/fullcalendar.min.js'></script>
<script src='/assets/plugins/fullcalendar/locales/es.js'></script>

<!-- raphael js -->
<script src="/assets/plugins/raphael/raphael.min.js"></script>

<!--Internal  Perfect-scrollbar js -->
<script src="/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<!-- Eva-icons js -->
<script src="/assets/js/eva-icons.min.js"></script>

<!-- right-sidebar js -->
<script src="/assets/plugins/sidebar/sidebar-custom.js"></script>

<!-- Sticky js -->
<script src="/assets/js/sticky.js"></script>
<script src="/assets/js/modal-popup.js"></script>

<!-- Left-menu js-->
<script src="/assets/plugins/side-menu/sidemenu.js"></script>

<!-- Internal Map -->
<script src="/assets/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>


<!--themecolor js-->
<script src="/assets/js/themecolor.js"></script>

<!-- custom js -->
<script src="/assets/js/custom.js"></script>

<!-- switcher-styles js -->
<script src="/assets/js/swither-styles.js"></script>

<!-- DATA TABLE JS-->
<script src="/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
<script src="/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
<script src="/assets/plugins/datatable/js/jszip.min.js"></script>
<script src="/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
<script src="/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
<script src="/assets/plugins/datatable/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/datatable/js/buttons.print.min.js"></script>
<script src="/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
<script src="/assets/plugins/datatable/dataTables.responsive.min.js"></script>
<script src="/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>

<!--select2 js-->
<script src="/assets/plugins/select2/js/select2.min.js"></script>


<!--- Personalizado js-->
<script src="/java/modal.js"></script>
<script src="/librerias/jquery/moment.min.js"></script>
<script src="/librerias/jquery/moment_locales.min.js"></script>
<script src="/librerias/jquery/jquery.blockUI.min.js"></script>
<script src="/librerias/sweetalert2/sweetalert2.min.js"></script>
<script src="/librerias/axios/axios.min.js"></script>
<script src="/java/validacion.js?<%= moment().format('DDMMYYYYHHmmss')%>"></script>
<script src="/java/general.js?<%= moment().format('DDMMYYYYHHmmss')%>"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/java/webSocket.js?<%= moment().format('DDMMYYYYHHmmss')%>"></script>
<script src="/librerias/jquery/jquery.inputmask.min.js"></script>
<script src="/librerias/bootstrap/bootstrap-datepicker.min.js"></script>
<script src="/librerias/bootstrap/bootstrap-datepicker.es.min.js"></script>
<script src="/librerias/spectrum/spectrum.js"></script>
<script src="/librerias/tippy/tippy.min.js"></script>