<div id="jsPropio"></div>

<!-- jQuery -->
<script src="/librerias/jquery/jquery.min.js"></script>

<!-- Bootstrap 5 -->
<script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- App core -->
<script src="/java/modal.js"></script>
<script src="/librerias/jquery/moment.min.js"></script>
<script src="/librerias/jquery/moment_locales.min.js"></script>
<script src="/librerias/jquery/jquery.blockUI.min.js"></script>
<script src="/librerias/sweetalert2/sweetalert2.min.js"></script>
<script src="/librerias/axios/axios.min.js"></script>
<script src="/java/validacion.js?<%= moment().format('DDMMYYYY')%>"></script>
<script src="/java/general.js?<%= moment().format('DDMMYYYY')%>"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/java/webSocket.js?<%= moment().format('DDMMYYYY')%>"></script>
<script src="/librerias/spectrum/spectrum.js"></script>

<!-- Ocultar loader al terminar de cargar -->
<script>$(window).on('load', function(){ $('#global-loader').fadeOut('fast'); });</script>

<!-- PWA Service Worker -->
<script>
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js').catch(function(){});
}
</script>
