<!DOCTYPE html>
<html lang="es">
<head>
    <title>Olimpo</title>
    <meta charset="utf-8" />
    <%- include('inicio/headInicio') %>
    <!-- Favicon -->
    <link rel="icon" href="/imagenes/favicon.png" type="image/x-icon">
</head>	
<body>
    <%- include('inicio/login') %>

    <%- include('inicio/footerInicio') %>
</body>
</html> 