<!DOCTYPE html>
<html id="html" lang="es">
<head>
    <title>Olimpo</title>
    <meta charset="utf-8" />
    <%- include('inicio/head')%>
    <!-- Favicon -->
    <link rel="icon" href="/imagenes/favicon.png" type="image/x-icon">
</head>	
<body onsubmit="return false" class="main-body app sidebar-mini ltr">
    <%- include('modal/general1')%>
    <%- include('inicio/sistema')%>  
    
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>
    <%- include('inicio/footer')%> 
</body>
</html>